{% extends 'Client/layout.auth.html.twig' %}

{% block content %}
<form class="js-validation-signup" action="" method="POST">
    <div class="block block-themed block-rounded block-shadow">
    <div class="block-header bg-gd-emerald">
        <h3 class="block-title">Please add your details</h3>
        <div class="block-options">
            <button type="button" class="btn-block-option">
                <i class="si si-wrench"></i>
            </button>
        </div>
    </div>
    <div class="block-content">
    <div class="form-group row">
<div class="col-12">
    <label for="signup-username">Username</label>
    <input type="text" class="form-control" id="signup-username" name="username" placeholder="eg: john_smith">
</div>
</div>
<div class="form-group row">
    <div class="col-12">
        <label for="signup-email">Email</label>
        <input type="email" class="form-control" id="signup-email" name="email" placeholder="eg: john@example.com">
    </div>
</div>
<div class="form-group row">
    <div class="col-12">
        <label for="signup-password">Password</label>
        <input type="password" class="form-control" id="signup-password" name="password" placeholder="********">
    </div>
</div>
<div class="form-group row">
    <div class="col-12">
        <label for="signup-password-confirm">Password Confirmation</label>
        <input type="password" class="form-control" id="signup-password-confirm" name="password_confirmation" placeholder="********">
    </div>
</div>
<div class="form-group row mb-0">
    <div class="col-sm-6 push">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="signup-terms" name="signup-terms">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">I agree to Terms &amp; Conditions</span>
        </label>
    </div>
    <div class="col-sm-6 text-sm-right push">
        <button type="submit" class="btn btn-alt-success">
            <i class="fa fa-plus mr-10"></i> Create Account
        </button>
    </div>
</div>
</div>
<div class="block-content bg-body-light">
    <div class="form-group text-center">
        <a class="link-effect text-muted mr-10 mb-5 d-inline-block" href="#" data-toggle="modal" data-target="#modal-terms">
            <i class="fa fa-book text-muted mr-5"></i> Read Terms
        </a>
        <a class="link-effect text-muted mr-10 mb-5 d-inline-block" href="op_auth_signin3.html">
            <i class="fa fa-user text-muted mr-5"></i> Sign In
        </a>
    </div>
</div>
</div>
</form>
{% endblock %}