{% extends 'Client/layout.html.twig' %}
{% block title %}Beranda{% endblock %}
{% block content %}
	<div class="content">
		<h4>Selamat Datang, Admin</h4>
		<div class="row gutters-tiny invisible" data-toggle="appear">
			<!-- Row #1 -->
			<div class="col-6 col-xl-4">
				<a class="block block-link-shadow text-right" href="javascript:void(0)">
					<div class="block-content block-content-full clearfix">
						<div class="float-left mt-10 d-none d-sm-block">
							<i class="si si-bag fa-3x text-body-bg-dark"></i>
						</div>
						<div class="font-size-h3 font-w600" data-toggle="countTo" data-speed="1000" data-to="15">0</div>
						<div class="font-size-sm font-w600 text-uppercase text-muted">Pelanggan</div>
					</div>
				</a>
			</div>
			<div class="col-6 col-xl-4">
				<a class="block block-link-shadow text-right" href="javascript:void(0)">
					<div class="block-content block-content-full clearfix">
						<div class="float-left mt-10 d-none d-sm-block">
							<i class="si si-wallet fa-3x text-body-bg-dark"></i>
						</div>
						<div class="font-size-h3 font-w600">$<span data-toggle="countTo" data-speed="1000" data-to="0">0</span></div>
						<div class="font-size-sm font-w600 text-uppercase text-muted">Transaksi</div>
					</div>
				</a>
			</div>
			<div class="col-6 col-xl-4">
				<a class="block block-link-shadow text-right" href="javascript:void(0)">
					<div class="block-content block-content-full clearfix">
						<div class="float-left mt-10 d-none d-sm-block">
							<i class="si si-envelope-open fa-3x text-body-bg-dark"></i>
						</div>
						<div class="font-size-h3 font-w600" data-toggle="countTo" data-speed="1000" data-to="0">0</div>
						<div class="font-size-sm font-w600 text-uppercase text-muted">Sampel</div>
					</div>
				</a>
			</div>
			<!-- END Row #1 -->
		</div>
	</div>
{% endblock %}